* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
.container {
  height: 100%;
  width: 100%;
}

nav h3 {
  font-size: 3vw;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  border-bottom: 3px solid black;
}
.navitems {
  display: flex;
  gap: 2.5vw;
}
.navlinks {
  font-size: 1.8vw;
  text-decoration: none;
  color: black;
  padding: 0.5vw 1.5vw;
}
.ri-menu-3-fill {
  display: none;
}
.onnavlinkclick {
  font-size: 1.8vw;
  text-decoration: none;
  background-color: black;
  padding: 0.5vw 1.5vw;
  color: white;
  border-radius: 10px;
}
@media (max-width: 600px) {
  nav h3 {
    font-size: 5.5vw;
  }
  .navlinks {
    font-size: 3vw;
    display: none;
  }
  .ri-menu-3-fill {
    display: block;
    font-size: 5.5vw;
  }
}
