.notescontainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 1vw 1.5vw;
  max-width: 100%;
}
.nonotemessage {
  display: flex;
  justify-content: center;
}
@media (max-width: 340px) {
  .notescontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 100%;
  }
}
