.notecontainer {
  border-radius: 10px;
  margin: 0.5vw 0.5vw;
  border: 2px solid #dadada;
  padding: 0.5vw 1vw;
  font-size: 1.4vw;
  font-weight: 100;
}
.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editdelbtn {
  display: flex;
  gap: 1vw;
}
i {
  font-size: 2vw;
  cursor: pointer;
}
button {
  background-color: black;
  color: white;
  padding: 0.7vw 1vw;
  font-size: 1vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btncontainer {
  margin-top: 0.3vw;
  display: flex;
  justify-content: space-evenly;
}
input {
  border: none;
  font-size: 1.4vw;
}
input:focus {
  outline: none;
}
.etextarea {
  border: none;
  font-size: 1.4vw;
}
.etextarea {
  outline: none;
}
@media (max-width: 600px) {
  .notecontainer {
    font-size: 2vw;
  }
}
