* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}
.signinwelcome {
  font-size: 3vw;
}
.signincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100%-100px);
  width: 100%;
  margin-top: 20px;
}

.signinform {
  margin-top: 10px;
}
.logininput {
  border: 1px solid black;
  width: 35vw;
  height: 3vw;
  font-size: 2vw;
}

.loginlabel {
  font-size: 2vw;
}
.signinbtn {
  margin-top: 2vw;
  padding: 0.5vw 2vw;
  font-size: 2vw;
  width: 40%;
  background-color: black;
  color: white;
  border-radius: 30px;
  margin-left: 10vw;
  cursor: pointer;
}
@media (max-width: 600px) {
  .logininput {
    width: 45vw;
    height: 4.3vw;
    font-size: 2.8vw;
  }
  .loginlabel {
    font-size: 3vw;
  }
  .signinbtn {
    font-size: 3vw;
  }
  .signinwelcome {
    font-size: 4vw;
  }
}
@media (max-width: 340px) {
  .logininput {
    width: 45vw;
    height: 4.5vw;
    font-size: 3.5vw;
  }
  .loginlabel {
    font-size: 3.5vw;
  }
  .signinbtn {
    font-size: 3.4vw;
  }
  .signinwelcome {
    font-size: 4.5vw;
  }
}
