* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
  width: 100%;
}
.signupwelcome {
  font-size: 3vw;
}
.signupform {
  margin-top: 10px;
}
.signupinput {
  border: 1px solid black;
  width: 35vw;
  height: 3vw;
  font-size: 2vw;
}
.signin {
  font-size: 2vw;
}
.signinnavigate {
  font-size: 2vw;
  font-weight: 700;
  cursor: pointer;
}
.signinredirectcontainer {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.signuplabel {
  font-size: 1.5vw;
}
.signupbtn {
  margin-top: 2vw;
  margin-left: 11vw;
  padding: 1.5vw 2vw;
  font-size: 2vw;
  width: 40%;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .signin {
    font-size: 3.5vw;
  }
  .signinnavigate {
    font-size: 3.5vw;
  }
  .signupinput {
    width: 45vw;
    height: 4.3vw;
    font-size: 2.8vw;
  }
  .signuplabel {
    font-size: 3.2vw;
  }
  .signupbtn {
    margin-left: 14vw;
    font-size: 3vw;
  }
  .signupwelcome {
    font-size: 4vw;
  }
}
@media (max-width: 340px) {
  .signin {
    font-size: 4.5vw;
  }
  .signinnavigate {
    font-size: 4.5vw;
  }
  .signupinput {
    width: 75vw;
    height: 13vw;
    font-size: 5vw;
  }
  .signuplabel {
    font-size: 5vw;
  }
  .signupbtn {
    margin-left: 25vw;
    font-size: 4vw;
  }
  .signupwelcome {
    font-size: 5vw;
  }
}
